/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700&display=swap');

* { box-sizing: border-box; }

/* GENERAL */
html {
  --background: white;
  --text-color-normal: black;
  --text-color-light: black;
  --text-color-richer: black;
  --text-color-highlight: black;

  --link-color: hsl(210, 90%, 70%);

  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

html[data-theme='light'] {
  --background: white;
  --text-color-normal: black;
  --text-color-light: black;
  --text-color-richer: black;
  --text-color-highlight: black;

  --link-color: hsl(210, 90%, 70%); }

html[data-theme='dark'] {
  --background: hsl(210, 20%, 12%);
  --text-color-normal: hsl(210, 10%, 62%);
  --text-color-light: hsl(210, 15%, 35%);
  --text-color-richer: hsl(210, 50%, 72%);
  --text-color-highlight: hsl(25, 70%, 45%);

  --link-color: hsl(210, 90%, 70%);
  --accent-color: hsl(25, 100%, 70%);
  --error-color: rgb(240, 50, 50);

  --button-background: hsl(210, 63%, 43%);
  --button-text-color: black; }

body {
  font-weight: 400;
  color: var(--text-color-richer);
  background-color: var(--background);
  font-family: "Quicksand", sans-serif; }

@media screen and (prefers-color-scheme: dark) {
  html {
    --background: hsl(210, 20%, 12%);
    --text-color-normal: hsl(210, 10%, 62%);
    --text-color-light: hsl(210, 15%, 35%);
    --text-color-richer: hsl(210, 50%, 72%);
    --text-color-highlight: hsl(25, 70%, 45%);

    --link-color: hsl(210, 90%, 70%);
    --accent-color: hsl(25, 100%, 70%);
    --error-color: rgb(240, 50, 50);

    --button-background: hsl(210, 63%, 43%);
    --button-text-color: black; }
}

@keyframes spin {
  from { transform: rotate(0); }
  to { transform: rotate(359deg); }  }

.spinner-box {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: absolute;
  z-index: 60;
  top: calc(50% - 150px);
  left: calc(50% - 150px); }

.circle-border {
  width: 150px;
  height: 150px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(63,249,220);
  background: linear-gradient(0deg, rgba(63,249,220,0.1) 33%, rgba(63,249,220,1) 100%);
  animation: spin .8s linear 0s infinite; }

.circle-core {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  border-radius: 50%; }

#iframe-overlay {
  top: 0;
  left: 0;
  z-index: 55;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  background-color: hsla(210, 20%, 12%, .75); }

  #iframe-overlay.active { display: block; }

a {
  text-decoration: none;
  color: var(--link-color);
  transition: color .1s ease-in-out; }

  a:hover { color: var(--accent-color); }

h1,
strong { font-weight: 700; }

.nav-container {
  width: 100%;
  margin: 0 auto; }

i { padding: 7px 12px 7px 0; }

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  position: relative; }

picture img {
  height: auto;
  max-width: 100%; }

@keyframes bounceEmoji {
  from { left: calc(100% + 5px); }
  to { left: calc(100% + 45px); } }

.fancy-link {
  cursor: pointer;
  position: relative;
  color: var(--link-color);
  transition: color .1s ease-in-out; }

  .fancy-link:hover { color: var(--accent-color); }

.point-left-emoji::after {
  content: "👈";
  font-size: 1.5rem;
  position: absolute;
  vertical-align: middle;
  left: calc(100% + 5px);
  transition: left .2s ease;

  animation-duration: .5s;
  animation-name: bounceEmoji;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 5s; }

.shrug-emoji::after {
  content: "🤷";
  font-size: 1.5rem;
  vertical-align: middle;
  padding-left: 0.5em; }

#iframe-popup {
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: none;
  position: fixed;
  background-color: var(--background); }

  #iframe-popup iframe {
    width: 100%;
    height: 100%; }

  #iframe-popup > .close {
    top: 10px;
    color: red;
    right: 10px;
    z-index: 65;
    cursor: pointer;
    position: absolute; }

    #iframe-popup > .close > i {
      padding: 0;
      font-size: 35px;
      border-radius: 3px;
      line-height: 0.85em;
      background-color: white; }

/* NAVIGATION */
.nav-bar {
  width: 100%;
  margin: 0 auto;
  background: #121b21;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700; }

.initials {
  color: #fff;
  font-size: 60px;
  letter-spacing: -12px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  padding-right: 20px;
  -webkit-filter: drop-shadow(0px 20px 20px #fff);
          filter: drop-shadow(0px 20px 20px #fff);
  text-shadow: 0 0 3px black; }

.navigation {
  width: 100%;
  margin: 0 auto;
  height: 70px;
  list-style: none;
  padding-left: 0; }

  .navigation a {
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    border-bottom: 4px solid transparent;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

  .navigation li {
    float: right;
    padding-top: 1em;
    padding-right: 5em; }

  .navigation li a:hover {
    border-bottom: 4px solid white; }

.navigation li:first-child {
  padding-left: 150px;
  padding-top: 0em;
  padding-right: 5em;
  float: left; }

.navigation li:first-child a {
  border-bottom: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none; }

.menu { display: none; }

/* HEADER INTRO TEXT*/
.intro .text-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap; }

.intro-text {
  color: white;
  max-width: 100%;
  font-size: 10em;
  font-weight: 400;
  letter-spacing: -0.09em;
  -webkit-filter: drop-shadow(0px 0px 12px black);
          filter: drop-shadow(0px 0px 12px black); }

.intro-about {
  color: white;
  max-width: 80%;
  font-size: 3em;
  font-weight: 400;
  letter-spacing: -0.06em;
  -webkit-filter: drop-shadow(0px 0px 10px black);
          filter: drop-shadow(0px 0px 10px black); }

/* SKILLS SECTION */
.skills-section {
  width: 70%;
  margin: 0 auto; }

.timeline-item {
  padding: 3em 2em 2em;
  position: relative;
  color: inherit;
  border-left: 2px solid var(--text-color-normal);
}
.timeline-item p {
  font-size: 1rem;
}
.timeline-item:not(:first-child)::before {
  content: "📅 " attr(date-is);
  position: absolute;
  left: 2em;
  top: 1em;
  display: block;
  font-weight: 700;
  font-size: 0.785rem;
}
.timeline-item::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 1em;
  position: absolute;
  left: -7px;
  border-radius: 10px;
  content: "";
  border: 2px solid var(--text-color-highlight);
  background: var(--text-color-normal);
}
.timeline-item:last-child {
  border-right-width: 0;
  -o-border-image: -o-linear-gradient(
      top,
      var(--text-color-normal) 60%,
      var(--text-color-normal)
    )
    1 100%;
  border-image: -webkit-gradient(
      linear,
      left top, left bottom,
      color-stop(60%, var(--text-color-normal)),
      to(rgba(0, 0, 0, 0))
    )
    1 100%;
  border-image: linear-gradient(
      to bottom,
      var(--text-color-normal) 60%,
      rgba(0, 0, 0, 0)
    )
    1 100%;
}
/* first child visual changes to appear as a title */
.timeline-item:first-child::after {
  top: 50%;
}

.timeline-item:first-child {
  font-size: 40px;
  padding: 20px;
  line-height: 10px;
  text-align: center;
  border-right-width: 0;
  -o-border-image: -o-linear-gradient(
      bottom,
      var(--text-color-normal) 60%,
      rgba(0, 0, 0, 0)
    )
    1 100%;
     border-image: -webkit-gradient(
      linear,
      left bottom, left top,
      color-stop(60%, var(--text-color-normal)),
      to(rgba(0, 0, 0, 0))
    )
    1 100%;
     border-image: linear-gradient(
      to top,
      var(--text-color-normal) 60%,
      rgba(0, 0, 0, 0)
    )
    1 100%;
}

/* EXPERIENCE SECTION */
#experience-section .experience {
  width: 70%;
  margin: 0 auto; }

/* VIDEO ELEMENT SECTION */
.bg-video-section {
  height: auto;
  max-width: 100%;
  background: white;
  position: relative; }

video {
  width: 100%;
  min-height: 100%;
  position: relative; }

/* CONTACT FORM */
.contact-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.contact-form h1 {
  margin: 0;
  font-size: 2.3em;
  text-align: center;
  position: relative;
  letter-spacing: 7px;
  padding: 100px 0 25px 0; }

#form {
  position: relative;
  max-width: 470px;
  padding: 50px 0 100px; }

#form input,
#form textarea {
  width: 100%;
  outline: none;
  max-width: 470px;
  font-weight: 700;
  font-size: .875em;
  background: transparent;
  color: var(--text-color-normal);
  border: solid 1px var(--text-color-normal); }

input {
  height: 50px;
  border-bottom: none;
  padding: 0 15px 0 15px;
  transition: background-color 0.3s ease, color 0.3s ease; }

input:hover,
textarea:hover {
  color: var(--text-color-highlight);
  background: var(--text-color-normal); }

textarea {
  resize: none;
  padding: 15px;
  font-weight: 400;
  height: 110px;
  transition: background-color .2s ease, color .2 ease; }

#submit {
  width: 100%;
  padding: 0;
  font-size: 1em;
  cursor: pointer;
  margin: -5px 0 0 0; }

/* FOOTER */
.footer-content {
  margin: 0;
  width: 100%;
  color: white;
  padding: 0 30px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1rem;
  background-color: #121b21;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer h3 { text-align: center; }

/* SOCIAL BUTTONS */
.social {
  z-index: 30;
  right: 15px;
  bottom: 50px;
  height: auto;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: stretch;
      align-content: stretch; }

.social__button {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #fff;
  position: relative;
  cursor: pointer;
  margin: 5px;
  text-align: center;
  -webkit-filter: drop-shadow(2px 2px 4px gray);
          filter: drop-shadow(2px 2px 4px gray); }

.social__button i {
  padding: 0;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  line-height: 50px;
  width: 50px;
  font-size: 25px;
  color: #000;
  z-index: 2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.social__button::after {
  content: "";
  display: block;
  position: absolute;
  background: #000;
  border-radius: 100%;
  width: 0;
  height: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  top: 0;
  left: 50%; }

.social__button:hover i { color: #fff; }

.social__button:hover::after {
  width: 50px;
  height: 50px;
  margin-left: -25px; }

.mail i { color: #0072C6; }
.mail::after { background: #0072C6; }

.skype i { color: #00aff0; }
.skype::after { background: #00aff0; }

.linkedin i { color: #0077b5; }
.linkedin::after { background: #0077b5; }

.github i { color: #6e5494; }
.github::after { background: #6e5494; }

.codepen i { color: #212121; }
.codepen::after { background: #212121; }

/*MEDIA QUERIES - NAV BAR*/
@media screen and (max-width: 1200px) {
  .navigation li:first-child {
    float: left;
    padding: 0 1em 0 20px; }

  .navigation li {
    float: right;
    padding-top: 1em;
    padding-right: 1.5em; }
}

@media screen and (max-width: 768px) {
  .navigation li {
    float: right;
    padding-top: 1em;
    padding-right: 0.3em; }

  .navigation li,
  .navigation a { font-size: 18px; }

  .navigation li:nth-child(2) {
    float: right;
    padding-top: 1em;
    padding-right: 3em; }

  .timeline-item:first-child { font-size: 25px; }
}

/* RESOLUTION WHEN HAMBURGER MENU IS SHOWN*/
@media screen and (max-width: 600px) {
  .navigation li,
  .navigation a { font-size: 22px; }

  .nav-initials {
    width: 20%;
    float: left;
    display: block;
    padding-top: 0;
    padding-left: 0;
    position: relative; }

  .nav-item { display: none; }

  .menu {
    display: block;
    width: 100%;
    float: right;
    margin: -65px auto 0 auto;
    overflow: hidden;
    -webkit-transition: height 1s ease;
    -o-transition: height 1s ease;
    transition: height 1s ease; }

  .slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    text-decoration: none;
    clear: both;
    width: 100%;
    height: 0;
    text-align: center;
    background-color: #d9d9d9;
    overflow: hidden;
    -webkit-transition: height 1s ease;
    -o-transition: height 1s ease;
    transition: height 1s ease;
    margin: 4em 0 0 0;
    padding: 0; }

  .slide li,
  .slide a {
    color: black;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 18px; }

  .slide a {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .slide li {
    width: 75%;
    background: #eee;
    border-radius: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 10px 0;
    position: relative; }

  /* --------- HAMBURGER MENU ----------- */
  /* hiding the checkbox */
  #menu { visibility: hidden; }

  /* hamburger */
  label {
    width: 50px;
    height: 5px;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    position: absolute;
    top: 22px;
    left: 87%;
    margin-left: -30px;
    margin-top: 10px; }

  label::before {
    content: "";
    width: 50px;
    height: 5px;
    background: #fff;
    position: absolute;
    -ms-transform: translateY(-30px);
        transform: translateY(-30px);
    -webkit-transform: translateY(-20px);
    border-radius: 5px;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }

  label::after {
    content: "";
    width: 50px;
    height: 5px;
    background: #fff;
    position: absolute;
    -ms-transform: translateY(30px);
        transform: translateY(30px);
    -webkit-transform: translateY(20px);
    border-radius: 5px;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition: 0.6s; }

  /* animation when checked */
  #menu:checked + label { width: 0; }

  #menu:checked + label + .slide {
    width: 100%;
    height: 280px;
    padding: 25px 0;
    border-bottom: 5px solid black; }

  #menu:checked + label::before {
    -ms-transform: rotate(45deg) translate(0px);
        transform: rotate(45deg) translate(0px);
    -webkit-transform: rotate(45deg) translate(0px); }

  #menu:checked + label::after {
    -ms-transform: rotate(-45deg) translate(0px);
        transform: rotate(-45deg) translate(0px);
    -webkit-transform: rotate(-45deg) translate(0px); }

  video {
    max-width: 100%;
    min-width: initial; }
}

/*MEDIA QUERIES - NAV BAR*/
@media screen and (max-width: 1300px) {
  .intro-text { font-size: 7em; }

  .intro-about {
    max-width: 80%;
    font-size: 2.35em; }
}

@media screen and (max-width: 1024px) {
  .intro-text { font-size: 5em; }
  .intro-about {
    max-width: 80%;
    font-size: 1.9em; }

  .social__button {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #fff;
    position: relative;
    cursor: pointer;
    margin: 5px;
    text-align: center; }

  .social__button i {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    line-height: 30px;
    width: 30px;
    font-size: 15px;
    z-index: 2;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

  .social__button::after {
    content: "";
    display: block;
    position: absolute;
    background: #000;
    border-radius: 100%;
    width: 0;
    height: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    top: 0;
    left: 50%; }

  .social__button:hover::after {
    width: 30px;
    height: 30px;
    margin-left: -15px; }
}

@media screen and (max-width: 768px) {
  .intro-text { font-size: 4em; }

  .intro-about {
    max-width: 80%;
    font-size: 1.7em; }

  .skills-section,
  #experience-section .experience { width: 95%; }

  .social {
    right: 0;
    bottom: 25px; }
}

@media screen and (max-width: 640px) {
  .intro-text { font-size: 3em; }

  .intro-about {
    max-width: 80%;
    font-size: 1.4em; }
}

@media screen and (max-width: 585px) {
  .intro-text { font-size: 2.5em; }

  .intro-about {
    max-width: 80%;
    font-size: 1.3em; }

  .timeline-item:first-child { font-size: 26px; }
}

@media screen and (max-width: 430px) {
  .intro-text { font-size: 3em; }

  .intro-about {
    max-width: 90%;
    font-size: 1.25em; }

  .timeline-item h1 { font-size: 26px; }

  .contact-form h1 {
    margin: 50px 0 25px 0;
    font-size: 1.8em; }

  #form {
    width: 70%;
    margin: 10% auto 10% 10%; }

  input {
    font-size: 0.875em;
    width: 100%;
    height: 50px;
    padding: 0 15px 0 15px; }

  textarea {
    width: 100%;
    max-width: 100%;
    height: 110px;
    max-height: 110px;
    padding: 15px; }

  #submit {
    width: 111%;
    padding: 0;
    margin: -5px 0 0 0; }

  .footer-content {
    font-size: 10px;
    letter-spacing: 10px; }
}

@media screen and (max-width: 375px) {
  .intro-text { font-size: 2em; }

  .intro-about {
    max-width: 80%;
    font-size: 1em; }

  .timeline-item:first-child { font-size: 32px; }

  .skills-section,
  .experience-section { width: 95%; }

  #submit {
    width: 114.5%;
    padding: 0;
    margin: -5px 0 0 0; }

  .footer-content {
    font-size: 10px;
    letter-spacing: 5px; }
}
